<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Mi Primer Página Web css3">
    <meta name="Keywords" content="HTML5, CSS3, Web, Diseño web, UMG">
    <title>Articulos</title>
    <link rel="Stylesheet" href="../content/Estilo1.css">
</head>
<body class="body">
    <div class="bg-1"> 
        <img src="../images/PaginaWeb.png" alt="Encabezado Odalis Arana">
    </div>
    <header class="pageHeader">
        <nav>
            <ul>
                <li class="active"><a href="#">Inicio</a></li>
                <li><a href="#">Noticias</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Contáctanos</a></li>
            </ul>
        </nav>
    </header>
    <div class="Main"> 
        <div class="content">
            <article class="Top">
                <header>
                    <h2><a href="#">¿Qué es HTML5?</a></h2>
                </header>
                <footer>
                    <h5><i>Esto fue posteado el 22/07/2025 por Odalis Arana</i></h5>
                </footer>
                <content>
                    <p>Durante los últimos años. el estándar HTML5 se ha estado afianzando en muchas paginas web. Sin embargo. ¿qué queremos decir con esto? ¿Cuál es la diferencia 
                        crucial entre el "común", por así decirlo y este nuevo estándar? Hoy Hablaremos sobre esto y responderemos a la pregunta de qué es HTML5.</p>
                    <p>HTML5 Es un lenguaje más semántico. En otras palabras, se dota, de un significado a las diferentes partes de la página web, de forma que el navegador puede 
                        distinguir la parte que forma parte de la cabecera gracias a que hay una etiqueta que dice "cabecera", bueno lo dice en ingles: "header". ¿Para qué sirve? 
                        Ayuda a los buscadores como Google a entender tu página web, algo que se espera sea positivo de cara al SEO, y también sirve para que los navegadores 
                        muestren de forma inteligente diferentes versiones de la página Web sin tener que usar plug.ins para dispositivos específicos.</p>
                </content>
            </article>
            <article class="Bottom">
                <header>
                    <h2><a href="#">Introducción a CSS3</a></h2>
                </header>
                <footer>
                    <h5><i>Esto fue posteado el 22/07/2025 por Odalis Arana</i></h5>
                </footer>
                <content>
                    <p>El nombre hojas de estilo en cascada viene del ingles Cascadeling Style Sheets, del que toma sus siglas. CSS es un lenguaje usado para definir la 
                        presentación de un documento estructurado escrito en HTML o XML (y por existensión en XHTML). El W3C(World Wide Web Consortium) es el encargado 
                        de formular la especificación de las hojas de estilo que servirán de estándar para los agentes de usuario o navegadores.</p>
                    <p>¿Para que sirve el CSS3?</p>
                    <P>El CSS sirve para definir la estética de un sitio web en un documento externo y eso mismo permite que modificando ese documetno (la hoja CSS) 
                        podamos cambiar la estetica entera de un sitio web, el mismo sitio web puede variar totalmente de estética cambiando solo la CSS, sin tocar para 
                        nada los documentos HTML o jsp o asp que lo componen.</P>
                    </content>
            </article>
        </div>
        <div>
            <aside class="top-sidebar">
                <h2>Navegación</h2>
                <ul class="navigation">
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Noticias</a></li>
                    <li><a href="">Acerca de</a></li>
                    <li><a href="">Contáctanos</a></li>
                </ul>
            </aside>
            <aside class="bottom-sidebar">
                <div class="featured">
                    <h2>¿Qué es y para qué sirve JavaScript?</h2>
                    <p>JavaScript(JS) es un lenguaje ligero e interpretado, orientado a objetos con funciones de primera clase, máas conocido como el lenguaje de 
                        script para páginas web, pero también usado en muchos entornos sin navegar, tales como node.js.</p>
                    <a href="">Leer Más >></a>
                </div>
            </aside>
        </div>
    </div>
    <footer class="pageFooter">
        <p>Copyright &copy; 2018 - www.misitio.com</p>
    </footer>
</body>
</html>